header{
    font-size: xx-large;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: "Montserrat";
    font-size: xx-large;
    background-color: lightcyan;
}

section{
    margin-top: 50px;
}