h1{
    margin: 0;
    font-size: 2em;
}

h2{
    display: inline-block;
    font-size: 42px;
    margin: 0;
}

h3{
    display: inline-block;
    font-size: 1em;
    margin: 0;
}

ul{
    padding-left: 0;
}

.coords-font{
    font-size: 0.5em;
}

@media (min-width: 992px){
    h2{
        font-size: 30;
    }
}

@media (max-width: 992px){
    h3{
        font-size: 0.7em;
    }
}

@media (max-width: 650px){
    h3{
        font-size: 0.5em;
    }
}
